{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block stylesheets %}
    <style>
        /* Estilos */
        body {
            font-family: Arial, sans-serif;
            background-color: #121212; /* Color de fondo sólido y oscuro */
            color: #fff;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        .form-container {
            border-style: solid;
            border-width: 5px;
            width: 40%;
            padding: 20px;
            border-radius: 20px;
            background: linear-gradient(to bottom right, #6b54f0, #2196f3);
            text-align: center;
            box-shadow: 0 0 20px rgba(128, 183, 255, 0.2);
        }
        .gradiente-borde {
            padding: 40px; /* Agrega el padding que desees */
            border-radius: 10px; /* Agrega el radio de borde que desees */
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: calc(50% - 5px);
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-right: 10px;
        }

        .form-control:last-child {
            margin-right: 0;
        }

        .button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #3f51b5;
            color: #fff;
            text-decoration: none;
        }
        .button-block {
            display: block;
            width: 20%;
            text-align: center;
        }
        .centered {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form-container gradiente-borde centered">
        <h1>Edit Person</h1>
        {{ include('person/_form.html.twig') }}
        <a href="{{ path('app_person_index') }}" class="button button-block">Volver</a>
    </div>
{% endblock %}
